{{>layout/header}}
<div class="content" id="content">
    <div class="tit_area">
        <h2>게시글 등록</h2>
        <ul class="location">
        </ul>
    </div>
    <div class="tableSt03">
        <table class="gridTable">
            <colgroup>
                <col width="30%"/>
                <col width="70%"/>
            </colgroup>
            <tbody>
                <tr>
                    <th><strong>제목</strong></th>
                    <td>
                        <p class="input_area"><input type="text" class="" id="title" placeholder="제목을 입력하세요." required/></p>
                    </td>
                </tr>
                <tr>
                    <th><strong>작성자</strong></th>
                    <td>
                    {{^loginUserName}}
                        <p class="input_area"><input type="text" class="" id="author" placeholder="작성자를 입력하세요."/></p>
                    {{/loginUserName}}
                    {{#loginUserName}}
                        <p class="input_area"><input type="text" class="" id="author" value="{{loginUserName}}" readonly/></p>
                    {{/loginUserName}}
                    </td>
                </tr>
                <tr>
                    <th><strong>내용</strong></th>
                    <td>
                        <p class="input_area"><textarea class="form-" id="contentArea" placeholder="내용을 입력하세요." style="resize:none;"></textarea></p>
                    </td>
                </tr>
                <tr>
                    <th><strong>파일</strong></th>
                    <td>
                        <span class="input_area" id="file_area">
                            <form id="fileForm" method="POST" enctype="multipart/form-data" style="margin-left:5px;">
                                <input type="hidden" name="category" value="board"/>
                                <input type="hidden" name="fileId" id="fileId"/>
                                <input type="file" name="file" id="fileUpload" style="display:none;" onchange="javascript:fn_file_change(this);"/>
                                <a href="javascript:fn_trigger_file()" class="btn_susu mal5" style="background:#247db0;color:#fff !important;">업로드</a>
                                <a href="javascript:fn_upload_file()" class="btn_susu mal5">저장</a>
                            </form>
                        </span>
                        <p class="gr_text mat5">
                            · 파일 용량은 20MB를 초과할 수 없으며, 1개만 등록가능합니다.
                        </p>
                        <div class="filse_list">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn_area_center">
            <span class="right">
                <a href="javascript:void(0);" role="button" class="btn_type01" id="btn-save">등록</a>
                <a href="/" role="button" class="btn_type02">취소</a>
            </span>
        </div>
    </div>
</div>
{{>layout/footer}}